node_modules
npm-debug.log
Dockerfile
.dockerignore
.env
*.md
tests/
src/tests/
src/config/*.js
src/middlewares/*.js
src/services/*.js
src/utils/*.js
src/jobs/*.js
src/controllers/*.js
src/models/*.js
src/routes/*.js
src/app.js
src/server.js
package-lock.json